<!-- <!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="">
    <div>
        <h1>Register Now?</h1>
    </div>
    Sign In <input type="checkbox" ng-model="myVar" ng-init="myVar=false">
    Register Account<input type="checkbox" ng-model="myVar2" ng-init="myVar=false">
    
    <div ng-if="myVar">
        <p>Sign In</p>
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
    </div>
    
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="">
    <div>
        <h3>Register Now?
            <input type="checkbox" ng-model="myVar" ng-init="myVar=false">
            <input type="checkbox" ng-model="myVar2" ng-init="myVar2=false">
        </h3>
    </div>
        
    <div ng-if="myVar">
        <p>Sign In</p>
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
    </div>
    
    <div ng-if="myVar2">
        <p>Register</p>
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
    </div>
    
    <div>
        <label>Click me to make text readonly:</label>
        <input type="checkbox" ng-model="checked1"> <br>
    
        <input type="text" ng-disabled="checked1" value="">
        </div>
    </div>
</body>
</html> --> -->